doctype html
html
    head
        title Myam and Noop
    body
        header 
            title Myam and Noop
        main
            block content
        footer
            span &copy; Myam and Noop