extends layouts/main

block content
    .form__container
        form(action="/login", method="post")
            input(type="email", name="email", placeholder="write email here")
            input(type="password", name="password", placeholder="write password here")
            input(type="submit", value="Log In")
        include partials/socialLogin