extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching by #{searchingBy}
    .search__videos
        //- getting item from video database
        each item in videos
            //- inputting data to videoBlock mixin in order to yield html
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
                id:item.id
            }) 
